:root {
    --mainColor: #f9f9ec;
    --darkBlue: #00688b;
    --darkGrey: #757b81;
    --grey: #d4d3d3;
    --lightGrey: #e4e4e4;
    --yellow: #fecd47;
    --red: #e11743;
}

* {
    margin:  0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

body {
    width: 100%;
    height: auto;
    color: var(--darkBlue);
}

p {
   font-size: 14px; 
}

.label-cart {
    position: fixed;
    top: 30;
    right: 50;
    z-index: 4;
    cursor: pointer;
}

.logo {
    position: fixed;
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    width: 100%;
    text-align: center;
    padding: 15px 420px 15px 60px;
    top: 0;
    z-index: 2; 
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: var(--mainColor);
    z-index: 2;
    padding-top: 70px;
}

.sidebar-menu {
    width: 100%;
    text-align: center;
    padding: 10px 5px;
}

.sidebar-menu > a {
    text-decoration: none;
    font-size: 10.5px;
    line-height: 1.5;
    color: var(--darkGrey);
}



.sidebar-menu:hover {
    border-right: 2px solid var(--yellow);
    color: var(--yellow)
}

.sidebar-menu > a:hover {
    color: var(--yellow)
}

.dashboard {
    height: 100%;
    width: 100%;
    padding-right: 360px;
    padding-left: 60px;
}

.dashboard-banner {
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 30px;
    cursor: pointer;
}

.dashboard-banner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.banner-promo {
    position: absolute;
    color: var(--lightGrey);
    top: 25%;
    left: 64%;
    font-weight: 800;
    font-size: medium;
}

.banner-promo > h1 > span {
    color: black;
}

.dashboard-title {
    padding: 0 1rem;
}

.dashboard-menu {
    display: flex;
    gap: 10px;
    padding: 0.3rem 1rem;
    overflow-x: auto;
}

.dashboard-menu > a {
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    min-width: 120px;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: var(--darkBlue);
    background-color: var(--lightGrey);
}

.dashboard-menu > a:hover {
    background-color: var(--red);
    color: var(--lightGrey);
}

.dashboard-content {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
   padding: 0.5rem 1rem 1rem 1rem;
}

.dashboard-card {
    background-color: var(--mainColor);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.dashboard-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.card-detail {
   padding: 10px; 
}

.card-detail > h4 > span {
    float: right;
}

.card-time {
    color: var(--darkGrey);
    font-size: 0.8rem;
    padding-top: 10px;
}

.dashboard-order {
    width: 340px;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5rem 1.5rem;
    background-color: var(--mainColor);
    z-index: 3;
}

.dashboard-order > h3 {
    padding: 10px 0;
}

.order-address > h4 {
    line-height: 2;
}

.order-time {
    font-size: 0.8rem;
    color: var(--darkGrey);
}

.order-wrapper {
    height: 180px;
    width: 100%;
    overflow-y: scroll;
    margin: 20px 0;
}

/* custom scroll */

.order-wrapper::-webkit-scrollbar {
    width: 7px;
}

.order-wrapper::-webkit-scrollbar-track {
    background: var(--lightGrey);
    border-radius: 20px;

}.order-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--darkGrey);
    border-radius: 20px;
}

.order-card {
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.5fr;
    padding: 10px 0;
    gap: 5px;
    justify-content: space-around;
    align-items: flex-start;
}

.order-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 15px;
}

.order-detail > input {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 2px solid var(--grey);
    border-radius: 10px;
    background-color: transparent;
    margin-left: 10px;
}

.divider {
    width: 100%;
    border: 1px dashed var(--grey);
}

.order-total > p {
    padding: 10px 0;
}

.order-total > p > span {
    float: right;
    font-weight: 600;
}

.order-promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightGrey);
    border: 2px solid var(--grey);
    border-radius: 10px;
    height: 45px;
    padding: 0 5px;
    margin: 5px 0 10px 0;
}

.input-promo {
    height: 100%;
    background-color: transparent;
    border: none;
}

.button-promo {
    float: right;
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    height: 80%;
    width: 40%;
    cursor: pointer;
}

.checkout {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: var(--red);
    border: none;
    border-radius: 20px;
    color: var(--lightGrey);
    cursor: pointer;
}

.checkout:hover {
    text-transform: uppercase;
    font-weight: 600;
} 

